/* Importation des différentes polices */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Muli:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

/* paramètres de bases */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* Definition du style de la racine du document (<html>) */
:root {
  --font-primary: "Baloo Da 2", serif;
  --font-secundary: "Josefin Slab", serif;
  --font-action: "Muli", serif;
}

html{
  scroll-behavior: smooth;
}

/* Style du menu: 
Encadré complet du menu */
.boitemenu {
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 100;
  right: 10%;
  top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

/* Partie avec les différents onglets */
.cardmenu{
  width: 225px;
  height: 300px;
  background-color: #272727;
  border-radius: 10px 10px;
}

/* Juste la partie du titre */
.headermenu{
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
  background-color: #0f1418;
}

/* "MENU" */
h3{
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  margin-left: 1rem;
}

/* Différents icones */
.icon{
  margin-right: 8px;
}

/* Paramètres communs a tous les elements de la liste */
.bodymenu li {
  transition: 1s all;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 15px;
  margin-left: 0.5rem;
  margin-top: 0px;
  color: #fff;
  list-style: none;
  display: block;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
}

/* Paramètres des textes liens des listes */
.bodymenu li a{
  color: #FFFFFF;
  font-weight: bold;
}

/* Style quand la souris passe sur un element du menu  */
li:hover{
  transition: 1s all;
  color: #2f89fc;
  background-color: rgba(42, 56, 65, 0.82);
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  cursor: pointer;
}


/* Header */
header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* Image de la banière */
.img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  animation: zoom 25s;
}

/* Animation zoom sur l'image de la banière */
@keyframes zoom {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

/* Paramétres généraux de la banière ( element qui contiens mon nom et mon titre) */
.banner {
  position: absolute;
  top: 30%;
  left: 15%;
}

/* Titre */
.banner h1 {
  color: #ffffff;
  font-size: 5.5rem;
  font-family: var(--font-primary);
  font-weight: 200;
  text-shadow: 0.3rem 0.4rem 2px rgba(0, 0, 0, 0.4);
  line-height: 3.5rem;
  margin-bottom: 2rem;
  opacity: 0;
  animation: moveBanner 1s 0.5s forwards;
}

/* Nom */
.banner p {
  font-family: var(--font-secundary);
  color: #fff;
  font-size: 3.5rem;
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
  opacity: 0;
  animation: moveBanner 1s 0.7s forwards;
}

/* Bouton en savoir plus */
.banner button {
  font-family: var(--font-action);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  background: #6a3093;
  background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
  background: linear-gradient(to left, #a044ff, #6a3093);
  padding: 1rem 3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  animation: moveBanner 1s 0.9s forwards;
}

/* Animation avec le mouvement de texte vers le haut lorsque la page est actualisée */
@keyframes moveBanner {
  0% {
    transform: translateY(10rem) rotateY(-30deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

/* Importation de la police roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Style général des icones des réseaux sociaux */
.social-media {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/* Style des différents icones du "menu de réseaux" */
.social-media i {
  background-color: #6a3093;
  color: rgba(255, 255, 255, 1);
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 1s;
}

/* Quand on passe sur les icones des réseaux */
.social-media i:hover {
  background-color: #a044ff;
}

/* ------------------------- PARTIE CONNAISSANCES --------------------------- */
/* Titre de chaque element des connassances */
.connaissances h3{
  color:rgba(0, 0, 0, 0.3)
}

/* Style de la grande <div> englobant le tout */
.connaissancess {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(6, 6rem);
  row-gap: 0.5rem;
}

/* Placement des elements:

element1 */
.connaissances:nth-child(1) {
  grid-column: 4 / 7;
  grid-row: 1 / 3;
}

/* Element2 */
.connaissances:nth-child(2) {
  grid-column: 3 / 6;
  grid-row: 3 / 5;
}

/* Element3 */
.connaissances:nth-child(3) {
  grid-column: 4 / 7;
  grid-row: 5 / -1;
}

/* Element4 */
.connaissances:nth-child(4) {
  grid-column: 11 / 14;
  grid-row: 1 / 3;
}

/* Element5 */
.connaissances:nth-child(5) {
  grid-column: 12 / 15;
  grid-row: 3 / 5;
}

/* Element6 */
.connaissances:nth-child(6) {
  grid-column: 11 / 14;
  grid-row: 5 / -1;
}

/* Cadre du backgrond de la partie connaissances  */
.session-connaissancess {
  background-color: #f5f5f5;
  height: 100%;
}

/* Style des header des différentes parties */
.session-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style des Grands titres des différentes Parties */
.session-header h2, .session-Contact h2 {
  font-family: var(--font-primary);
  font-size: 3.5rem;
  color: #4b4b4b;
  border-bottom: solid 3px #6a3093;
  margin-bottom: 1.5rem;
}

/* Style des header des elements des connaissances  */
.connaissances-header {
  display: flex;
  align-items: center;
  color: #4b4b4b;
}

/* Style des logos des elements des connaissances  */
.connaissances-header i {
  font-size: 3rem;
}

/* Style des Titres des différents elements des connaissances  */
.connaissances-header h3 {
  font-family: var(--font-secundary);
  font-size: 2.5rem;
  padding-left: 1rem;
}

/* Style du texte des différents elements des connaissances  */
.connaissances-text {
  font-family: var(--font-secundary);
  font-size: 1rem;
  margin-top: 1rem;
}

/* Style de l'image centrale des connaissances  */
.connaissancess-img-wrapper {
  grid-column: 7 / 11;
  grid-row: 2 / 6;
  width: 80%;
  height: 80%;}

.connaissancess-img-wrapper img {
  object-fit: cover;
  height: 100%;
}

/* ----------------------------- PARTIE PROJET ------------------------------- */
/* Style de la <div> générale des projets  */
.projets {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

/* Style de l'encadré propre a chaque projet  */
.card {
  width: 28rem;
  height: 46,6rem;
  position: relative;
}

/* Style de l'image de chaque projet  */
.card-img-wrapper {
  width: 100%;
  height: 100%;
  background-color: #262626;
  border-radius: 0.5rem;
}

.card-img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  opacity: 0.8;
  transition: opacity 0.3s;
}

/* Style quand on passe la souris sur les différents projets  */
.card:hover .card-img-wrapper img {
  opacity: 0.5;
}

/* Sttyle général des elements d'information de chaque projet  */
.card-info {
  position: absolute;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  padding: 2rem;
  text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
}

/* Style du titre de chaque projet  */
.card-info h2 {
  font-family: var(--font-primary);
  font-size: 4rem;
  font-weight: 500;
  color: #eee;
}

/* Style des compétences et conaissances nécéssaires a chaque projet  */
.card-info h3 {
  font-family: var(--font-action);
  font-weight: bolder;
  font-size: 2rem;
  color: #ff4081;
  margin-bottom: 1.5rem;
}

/* Style du petit encadré d'information de chaque projet */
.card-info p {
  font-family: var(--font-secundary);
  color: #eee;
  font-weight: 400;
  font-size: 1rem;
  width: 80%;
  margin-bottom: 2rem;
}

/* Style général des boutons  */
.btn {
  background: #6a3093;
  background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
  background: linear-gradient(to left, #a044ff, #6a3093);
  font-family: var(--font-action);
  color: #eee;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

/* Style des boutons liés a chaque projets  */
.card-info button {
  width: 10rem;
  height: 3.5rem;
}

/* Style du passage de souris sur les différents projets et informations liés a ces derniers  */
.card:hover .card-info {
  bottom: 2rem;
  opacity: 1;
  visibility: visible;
}

/* --------------------------- PARTIE CONTACT --------------------------- */
/* Style général de la partie contact  */
.session-Contact {
  width: 100%;
  height: 100vh;
  background-color: #272727;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style de la grande <div> des contacts */
.Contact-wrapper {
  width: 60%;
  height: 30rem;
  display: flex;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
}

/* Sttyle du petit encadré a gauche du formulaire de contact  */
.Contact-left {
  width: 35%;
  background: linear-gradient(rgba(15, 15, 15, 0.6), rgba(22, 22, 22, 0.9)),
    url(imagens/Contact.jpg);
  background-size: cover;
}

/* Style du background du formulaire de contact  */
.Contact-right {
  width: 65%;
  background-color: #eee;
  padding: 1rem 3rem 3rem 3rem;
}

/* Style général du formulaire de contact  */
.session-Contact form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Placement de chaque élément du formulaire  */
.input-group {
  position: relative;
}

/* Style de chaque zone de texte  */
.field {
  background: transparent;
  border: none;
  width: 20rem;
  font-size: 1.5rem;
  font-family: var(--font-secundary);
  border-bottom: 2px dashed #636363;
  height: 3rem;
  outline: none;
  margin: 1rem 0;
}

.input-group textarea {
  padding-top: 1rem;
  max-width: 25rem;
  max-height: 3rem;
}

/* Style de chaque nom associé aux zones de textes du formulaire de contact  */
.field-label {
  position: absolute;
  left: 0;
  top: 2rem;
  font-size: 1rem;
  font-family: var(--font-secundary);
  text-transform: uppercase;
  transition: all 0.3s;
}

.field:focus ~ label {
  top: 0;
  font-size: 0.7rem;
}

.field:focus {
  border-bottom: 1px solid;
}

/* Style du bouton "envoyer" pour le formulaire  */
.btn-submit {
  font-size: 1.2rem;
  text-transform: uppercase;
  width: 80%;
  height: 2.5rem;
  margin-top: 1rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
  text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}

/* ---------------------------------- PARTIE FOOTER----------------------------------- */
/* Style général du <footer> */
footer{
  width: 100%;
  height: 7rem;
  background-color: #17181b;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style du contenu général du footer  */
.footer-content{
  width: 60%;
  display: flex;
  justify-content: space-between;
}

/* Style du texte contenu dans le footer  */
.footer-content p{
  font-family: var(--font-secundary);
  color: #a7a7a7;
  font-size: 1.2rem;
}

/* Style des différents liens du footer  */
.social-list a{
  margin: 0 2rem;
  color: #a7a7a7;
  font-size: 1.3rem;
}

/* Style de la liste des réseaux sociaux contenue dans le footer */
.social-list ul {
  display: flex;
}

/* Style de la petite fleche pour remonter au "top" de la page */
#link-topo{
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  width: 3rem;
  height: 3rem;
  background: #6a3093;
  background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
  background: linear-gradient(to left, #a044ff, #6a3093);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: .3rem;
  box-shadow:  0 0.1rem 0.6rem #00000009;
}
















/* --------------------------------- STYLE RESPONSIVE POUR UNE MEILLEURE UX ---------------------------------- */
@media only screen and (max-width: 950px) {

  /* Style de la boite globale du menu  */
  .boitemenu {
    right: 8rem;
    cursor: pointer;
  }

  /* Style des différents elements du menu  */
  .bodymenu li {
    margin-left: 0;
  }

  /* Style du header  */
  header {
    width: 120%;
  }
  
  /* Style de l'image de la banière */
  .img-wrapper img {
    width: 120%;
    object-fit: fill;
    animation: zoom 15s;
  }
  
  /* Style de la banière  */
  .banner {
    left: 7.5%;
  }
  
  /* Style du Titre de la banière  */
  .banner h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  
  /* Style du paragraphe de la banière (mon nom) */
  .banner p {
    font-size: 1.8rem;
  }
  
  /* Style général du menu des réseaux */
  .social-media {
    left: 10%;
    justify-content: flex-start;
  }
  
  /* Style de chaque élément dans le menu des réseaux  */
  .social-media i {
    height: 4.5rem;
    width: 4.5rem;
    font-size: 3rem;
  }
  
/* --------------------------------- PARTIE CONNAISSANCE ------------------------------------ */
/* Style global de la partie connaissance  */
  .connaissancess {
    width: 90%;
    height: 100%;
    display:block;
    margin-left: 1rem;

  }
  
  /* Placement des différents éléments
  Element 1 */
  .connaissances:nth-child(1) {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* Element 2 */
  .connaissances:nth-child(2) {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  /* Element 3 */
  .connaissances:nth-child(3) {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  /* Element 4 */
  .connaissances:nth-child(4) {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  /* Element 5 */
  .connaissances:nth-child(5) {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  /* Element 6 */
  .connaissances:nth-child(6) {
    text-align: center;
    margin: 2rem;
    margin-bottom: 2rem;
  }

  /* Style de la section conaissance (background) */
  .session-connaissancess {
    width: 120%;
  }
  
  /* Style des différents titres des différents grandes parties  */
  .session-header h2, .session-Contact h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    display:flex;
    justify-content: flex-start;
  }
  
  /* Style des header des différentes connaissances  */
  .connaissances-header {
    display: flex;
    justify-content: center;
  }
  
  /* Stule des titres des connaissances  */
  .connaissances-header h3 {
    color:black
  }
  
  /* Style de la description de chaque connaissance  */
  .connaissances-text {
    font-size: 1.5rem;
  }
  
  /* Style de l'image des connaissances  */
  .connaissancess-img-wrapper {
    width: 50vh;
    height: 50vh;
  }
  
  .connaissancess-img-wrapper img {
    align-items: center;
  }
  
 /* --------------------------------- PARTIE PROJET ------------------------------ */
 /* Style général de la partie des projets  */
  .projets {
    display: block;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  /* Style de chaque <di> de projet  */
  .card {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 120%;
    height: 80vh;
    align-items: center;
  }

  /* Style du titre de chaque projey  */
  .card-info h2 {
    font-size: 4rem;
  }

  /* Style des compétences de chaque projet  */
  .card-info h3 {
    font-size: 2rem;
  }
  
  /* Style des textes de chaque projet */
  .card-info p {
    font-size: 1.5rem;
  }
  
  /* Style général des boutons  */
  .btn {
    font-size: 1.25rem;
  }
  
  /* Style des boutons de chaque projet  */
  .card-info button {
    width: 10rem;
    height: 4.5rem;
  }
  
  /* -------------------------------------- PARTIE CONTACT -------------------------------------- */
  /* Style général des contacts  */
  .session-Contact {
    width: 120%;
  }
  
  /* Style de la <div> en couleur des contacts */
  .Contact-wrapper {
    width: 90%;
  }
  
  /* Style du bouton "envoyer" pour le fomulaire de contact  */
  .btn-submit {
    height: 3.5rem;
    }
  
    /* ------------------------------------- PARTIE FOOTER ------------------------------------- */
    /* Style général du footer  */
  footer{
    width: 120%;
    height: 10rem;
  }
  
  /* Style général du conetnu du footer  */
  .footer-content{
    width: 80%;
  }
  
  /* Style de zones de texte du footer  */
  .footer-content p{
    font-size: 1rem;
  }
  
  /* Style de la petite fleche pour remonter en haut de la page  */
  #link-topo{
    width: 4rem;
    height: 4rem;
  }

}
